body
{
    background-image: url("golden.jpg") no-repeat;
    background-size: cover;
}
img
{
    background-attachment: : fixed;
    opacity: 0.5;
}

header nav
{
  color: #8FBC8F;
  font: italic 1.1em "Fira Sans", serif;
}

header nav ul
{
  list-style: none;
  margin: 0px;
  padding: 0px;
}

header nav ul li
{
  margin: 0;
  padding: 0;
  float: left;
  width: 200px;
  height: 40px;
  background-color: white;
  line-height:40px;
  text-align: center;
}

header nav ul li a
{
  display: block;
}

header nav ul li a:hover
{
  background-color: #2E8B57;
  opacity: 0.5;
  text-decoration: underline;
  font: italic 1.1em "Fira Sans", serif;
}

#Mind ul li
{
  display: none;
}

div.scrollmenu {
  overflow: visible;
  display: block;
}
